teste_juntar/__pycache__/player.cpython-311.pyc
teste_juntar/__pycache__/
teste_movimento/__pycache__/coletaveis.cpython-311.pyc
teste_movimento/__pycache__/bloco.cpython-311.pyc
teste_menu_&_tela_de_jogo/classes_telas/__pycache__/tela_jogo.cpython-311.pyc
teste_menu_&_tela_de_jogo/classes_telas/__pycache__/tela1.cpython-311.pyc
teste_juntar/__pycache__/player.cpython-311.pyc
teste_juntar/__pycache__/funcs.cpython-311.pyc
.gitignore
teste_menu_&_tela_de_jogo/__pycache__/cenario.cpython-311.pyc
teste_menu_&_tela_de_jogo/__pycache__/funcs.cpython-311.pyc
.gitignore
teste_juntar/__pycache__/player.cpython-311.pyc
teste_juntar/__pycache__/tela_jogo.cpython-311.pyc
teste_juntar/__pycache__/funcs.cpython-311.pyc
game/__pycache__/cenario.cpython-311.pyc
game/__pycache__/coletaveis.cpython-311.pyc
game/__pycache__/player.cpython-311.pyc
game/__pycache__/funcs.cpython-311.pyc
game/__pycache__/coletaveis.cpython-311.pyc
game/classes_telas/__pycache__/tela_jogo.cpython-311.pyc
game/__pycache__/player.cpython-311.pyc
game/__pycache__/funcs.cpython-311.pyc
game/classes_telas/__pycache__/tela_jogo.cpython-311.pyc
game/classes_telas/__pycache__/telaGO.cpython-311.pyc
game/classes_telas/__pycache__/tela_jogo.cpython-311.pyc
game/__pycache__/player.cpython-311.pyc
game/__pycache__/cenario.cpython-311.pyc
